@implements IDisposable
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <MudMenu Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Direction="Direction.Bottom" OffsetY="true">
            <MudMenuItem Href="Account/Manage">@context.User.Identity?.Name</MudMenuItem>
            <MudMenuItem>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Inherit" Style="text-transform: none; font-weight: normal; letter-spacing: normal;">Logout</MudButton>
                </form>
            </MudMenuItem>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="Account/Register" Color="Color.Inherit">Register</MudButton>
        <MudButton Href="Account/Login" Color="Color.Inherit">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}